<div id = "nav">Cryptocurrency & Blockchain</div>
      <% data.forEach((item)=>{%>
        <h3><%= item.name%> (<%= item.abbreviation %>)</h3>
        <a href="#"><img src="<%= item.logo %>"></a>
        <a href="https://www.reddit.com/r/<%=item.name%>">Reddit</a>
        <a href="https://coinmarketcap.com/currencies/<%= item.name%>">Coinmarket Cap</a>
        <a href="<%= item.website%>">Website</a>
        <br>
        
        <h4>Summary</h4>
        <p><%= item.summary%></p>
        <h4>Cons</h4>
        <p><%= item.cons%></p>
    <% })%>